* {
    margin: 0;
    padding: 0;
}


a {
    color: #000000;
    text-decoration:none;
    font-weight: 550;
}

a:hover {
    color: #82B6FB;
    text-decoration:none;
    font-weight: 550;
}

/* a:link {
    color: #000000;
    text-decoration:none;
    font-weight: 550;
} */

.w {
    /* width: 1200px; */
    margin: auto;
}

li {
    list-style: none;
}

.link_word {

}

.top {
    background-color: #3a92f8;
    text-align: center;
    height: 42px;
    /* margin: 30px auto; */
    font-size: 14px;
    padding: 15px;
    color: #F5FFFA;
}

.direction_col {
    position: fixed;
    top: 10px;
    width: 190;
    height: 545;
    margin-top: 10%;
    margin-left: 2%;
}

#direction_flink {
    position: absolute;
    float:inline-start;
    left: 28%;
    padding: 0 10px;
    line-height: 50px;
    font-size: 30px;
    bottom: 3%;
}

.direction_col_ul {
    position: absolute;
    float:inline-start;
    top: 18%;
    left: 28%;
    padding: 0 10px;
    line-height: 50px;
    font-size: 30px;
}



.header {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    background-color:white;
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

.header_left {
    margin-left: 10px;
    margin-right: 68%;
    float: left;
    /* width: ; */
}

.header_right {
    float: left;
    /* width: ; */
}

.logo {
    float: left;
}

.nav {
    float: left;
    height: 60px;
    margin-left: 5px;
}

#nav_text {
    float: left;
    padding: 0 10px;
    line-height: 35px;
    font-size: 18px;
    font-weight: 550
}

#nav_text2 ul li {
    float: left;
    margin-left: 40px;
    padding: 0 10px;
    line-height: 35px;
    font-size: 18px;
}

.title {
    width: 100%;
  }

#title_word {
    position: absolute;
    top: 45%;
    left: 38%;
    font-size: 65px;
    color: #ffffff;
    font-weight: 530;
    text-shadow: 2px 2px #98ffc6;
}

#web_bg {
    width:100%; 
    height:100%; 
    min-width: 1000px; 
    z-index:-10; 
    zoom: 1; 
    background-color: #fff; 
    background-repeat: no-repeat; 
    background-size: cover; 
    -webkit-background-size: cover; 
    -o-background-size: cover; 
    background-position: center 0;
}

.context {
    background: #3a92f8;
    /* height: 100%; */
}

.column.middle {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    bottom: 0%;
    background-color: seashell;
}

.column.middle div{
    margin-left: 5%;
    margin-right: 5%;
}